@adapt-primary-color: #263944; // light blue (used in most places such as buttons) & sidebar
@adapt-secondary-color: #008055; // green (used as a secondary button)
@adapt-tertiary-color: #fff;
@adapt-topbar-color: #105067;
@adapt-quaternary-color: #424343; //
@adapt-white: #fff;

@primary-color: @adapt-primary-color;
@secondary-color: @adapt-secondary-color;
@tertiary-color: @adapt-tertiary-color;
@quaternary-color: @adapt-quaternary-color;
@white: @adapt-white;

@inverted-foreground-color: #fff;
@inverted-background-color: #00aeef;

@esdc-dark-blue: #0f2a4a;
@esdc-cyan-text: #0068AE;
@default-message-background: #d6d6dae6;

#wrapper {
  overflow: hidden;
}

.component-left,
.component-right {
  .talk__chat-container {
    width: 100%;
  }

  .talk__chat__wrapper {
    width: 100%;
  }
}

.talk__chat:focus {
  outline: none !important;
  border: none !important;
}

.talk {

  &__chat {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 0 .5rem 0;
    margin-bottom: 0.5rem;

    &__narrator {
      justify-content: center !important;
    }
  }

  &__chat__character {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 18%;
    max-width: 18%;

    &__right {
      justify-content: flex-end;


      .talk__chat-container {
        flex-direction: row-reverse;
        align-items: center;
        justify-content: flex-start;
      }

      .talk__chat__message {
        position: relative;
        width: 100%;
      }

      .talk__chat__message__text__audio__container {
        position: relative;
        background-color: @esdc-dark-blue;
        color: @white;
        border-radius: 1rem;
        border: 2px solid @esdc-dark-blue;
        padding: 1rem;

        &::after {
          content: '';
          position: absolute;
          width: 0;
          height: 0;
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
          border-left: 10px solid @esdc-dark-blue;
          right: -10px;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      .talk__character__image-container {
        border-radius: 50%;
        border: 4px solid @esdc-dark-blue;
        background-color: @white;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      @media (max-width: 47.5rem) {

        .talk__chat-container {
          width: 100%;
        }

        .talk__chat__wrapper {
          width: 100%;
        }
      }
    }

    &__left {

      .talk__chat__message__text__audio__container {
        position: relative;
        background-color: @default-message-background;
        color: black;
        border-radius: 1rem;
        border: 2px solid @default-message-background;
        padding: 1rem;

        &::after {
          content: '';
          position: absolute;
          border-left: 10px solid transparent;
          width: 0;
          height: 0;
          border-top: 10px solid transparent;
          border-bottom: 10px solid transparent;
          border-right: 10px solid @default-message-background;
          left: -20px;
          top: 50%;
          transform: translateY(-50%);
        }
      }

    }
  }

  &__chat__wrapper {
    display: flex;
    flex-direction: column;
    width: 70%;
    opacity: 0;
    transform: translateY(100px);
    transition: all 2000ms cubic-bezier(0.23, 1, 0.32, 1),
      visibility 0s linear 0s;
  
    &.is-visited {
      opacity: 1;
      transform: translateY(0);
    }

    &.right {
      float: right;
    }

    &.left {
      .talk__chat__character-title {
        margin-left: calc(18% + 2rem);
      }
    }
  }

  &__chat-container {
    // align-items: flex-start;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }

  &__chat__character-title {
    font-weight: 700;
    font-size: 0.75rem;
  }

  &__character__image-container {
    border-radius: 50%;
    border: 4px solid @default-message-background;
    background-color: @white;
    height: 80px;
    min-width: 80px;
    max-width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__character__image {
    border-radius: 50%;
    padding: 0.2rem;
  }

  &__chat__message {
    position: relative;
    width: 100%;
  }

  &__chat__message-text {
    p {
      margin-top: 8px;
      margin-bottom: 8px;
    }
  }

  &__message-graphic {
    img {
      margin: 16px 0;
    }
  }

  @media (max-width: 47.5rem) {
    &__character__image-container {
      height: 50px;
      min-width: 50px;
      max-width: 50px;
    }

    &__chat__character {
      min-width: 12%;
    }

    &__chat-container {
      width: 100%;
    }

    &__chat__wrapper {
      width: 100%;

      &.left {
        .talk__chat__character-title {
          margin-left: calc(12% + 2rem);
        }
      }
    }
  }

  @media (max-width: 25.75rem) {

    &__chat__character {
      display: none;
    }

    &__chat-container {
      width: 100%;
    }

    &__chat__character__left .talk__chat__message__text__audio__container::after,
    &__chat__character__right .talk__chat__message__text__audio__container::after {
      display: none;
    }

    &__chat__wrapper {
      width: 100%;

      &.left {
        .talk__chat__character-title {
          margin-left: 0;
        }
      }
    }
  }
}
